@import url(./__main-illustration/header__main-illustration.css);
@import url(./__main-illustration/_img/header__main-illustration_img.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__title/header__title.css);
@import url(./__square-pic/header__square-pic.css);

.header {
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  overflow: hidden;
}
