@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraph/_middle/two-columns__paragraph_middle.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__subtitle/two-columns__subtitle.css);

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}
